.navigation {
  &__checkbox {
    display: none;
  }

  /////ACTUAL NAVIGATION BUTTON
  &__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.1);
    text-align: center;
    cursor: pointer;
  }

  /////BACKGROUND HIDDEN UNDER THE NAVIGATION BUTTON
  //THIS BACKGROUND WILL EXPLAND WHEN THE BUTTON IS CLICKED
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    background-image: radial-gradient($primary-color-3, $primary-color-1);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    /////OPACITY and WIDTH will change when the button is clicked, meaning,
    //when checbox is checked
    opacity: 0;
    width: 0;

    transition: all 0.8s cubic-bezier(0.85, 0, 0.07, 1);

    visibility: hidden;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  &__link2 {
    font-size: 1.5rem;
  }

  &__divider {
    margin: 1rem 0;
  }

  /////FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(60);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }

  // &__checkbox:checked {
  //   @include respond-to-hamburger;
  // }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $dark-color-1;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      transform: rotate(135deg);
      top: 0rem;
    }
    &::after {
      transform: rotate(-135deg);
      top: 0rem;
    }
  }

  &__switch-label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__account-type {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
