.item {
  &__container {
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 5rem;
    min-height: calc(100vh - 15rem);
    z-index: 1;

    @include respond(phone) {
      flex-direction: column;
      margin-top: 2rem;
    }
  }

  &__images {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 100%;
    }

    &-primary {
      max-width: 100%;
      max-height: 40rem;
      border: 1px solid #ccc;
      border-radius: 3rem 3rem 0 0;
    }

    &-secondary-1 {
      width: 49%;
      height: 20rem;
      border: 1px solid #ccc;
      border-radius: 0 0 0 3rem;
    }

    &-secondary-2 {
      width: 49%;
      height: 20rem;
      border: 1px solid #ccc;
      border-radius: 0 0 3rem 0;
    }

    &-second-row {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }

  &__details {
    width: 50%;
    height: fit-content;
    margin-left: 4rem;
    border: 1px solid #ccc;
    border-radius: 3rem 3rem 3rem 3rem;
    padding: 2rem;
    text-align: center;

    @include respond(phone) {
      width: 100%;
      margin-left: 0;
      margin-top: 4rem;
    }

    &-description {
      position: relative;
      text-align: left;
    }

    &-margin {
      margin: 2rem 0 2rem 1.5rem;
    }

    &-margin-2 {
      margin-left: 1rem;
    }

    &-array {
      margin-left: 1rem;
      text-transform: capitalize;
    }
  }

  &__contact {
    position: absolute;
    top: 18%;
    right: 1%;
    margin: 0;
    width: 15rem;
    padding: 0;

    &-dropdown {
      top: 32%;
      right: 1%;
      padding: 1rem;
      font-size: 0.9em;

      @include respond(phone) {
        display: block;
      }
    }
  }
}
