.login {
  &-image-container {
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }

  &-redirectedFrom-message {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
    animation: RedirectedFrom1 2s, RedirectedFrom2 2s 5s forwards;
  }
  &-links {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.5rem;
    padding: 1rem 1rem 0 0;
    text-transform: uppercase;

    &-1 {
      cursor: pointer;
    }
    &-2 {
      cursor: pointer;
    }
  }
}

.afterlogin {
  &-container {
    margin-top: 15rem;
    text-align: center;
    & p {
      letter-spacing: 0.2rem;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }

  &-links {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }

  &-link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 10rem;
    transition: all 0.1s;
  }

  &-link:hover {
    background-color: $secondary-color-1;
    font-weight: 700;
  }
}
