///// MEDIA QUERIES

/* 
0 - 600px = Phone
600px - 900px = Tablet portrait
900px - 1200px = Tablet landscape
1200px - 1800px = Normal desktop
1800px+ = Big desktop
*/

/*
Breakpoint values
phone
tab-port
tab-land
big-desk
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin respond-to-hamburger() {
  .sellerdashboard-todo {
    z-index: 3000 ;
  }
}
