$primary-color-1: #590d22;
$primary-color-2: #a4133c;
$primary-color-3: #c9184a;

$secondary-color-1: #ff4d6d;
$secondary-color-2: #ff758f;

$success-color: #00cd22;

$extra-color-1: #cccccc;

$dark-color-1: #606060;

$box-shadow-1: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

$box-shadow-2: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$box-shadow-3: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
